<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DailyPlanner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>15CABFFC1C00D30D0012CA81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15CAC0131C00D30D0012CA81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15CAC01E1C00D30E0012CA81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
